<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content"> 
        {{>header}}
        <p>This site was created by the one and only Markus.<br>
            It uses Mapbox.com and Darksky.net API.
        </p>
        <img class="portrait" src="/img/duck.jpg">
    </div>

    {{>footer}}
</body>

</html>